<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Frontend</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/0eaae9cbe1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Raleway&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="wholeContainer">
        <div class="imgs"><img src="Images/TwitterFrontendHead.avif" alt="" id="timage"></div>
        <div class="data">
            <div>
                <img src="Images/TwitterIcon.png" alt="" id="ticon">
            </div>
            <div>
                <h1 id="happen">Happening now</h1>
            </div>
            <div>
                <h1 id="text">Join Twitter today.</h1>
            </div>
            <div class="buttons">
                <button> <i class="fa fa-google"></i> <a href="/login/google" style="text-decoration: none;">Sign up
                        with
                        Google</a></button>
                <div>or</div>
                <button>Sign up with phone or email</button>
                <div id="terms">By signing up, you agree to the <a href="https://twitter.com/en/tos">Terms of
                        Service</a> and <a href="https://twitter.com/en/privacy">Privacy
                        Policy</a>, including <a
                        href="https://help.twitter.com/en/rules-and-policies/twitter-cookies">Cookie
                        Use</a> .</div>
                <div id="texts">Already have an account ?</div>
                <button>Sign in</button>
            </div>

            <div></div>
        </div>
    </div>
    <footer>
        <ul id="bottom">
            <li>About</li>
            <li>Help&nbsp;Center</li>
            <li>Terms&nbsp;of&nbsp;Service</li>
            <li>Privacy&nbsp;Policy</li>
            <li>Cookie&nbsp;Policy</li>
            <li>Accesibility</li>
            <li>Ads&nbsp;info</li>
            <li>Blog</li>
            <li>Status</li>
            <li>Carrers</li>
            <li>Brand&nbsp;Resources</li>
            <li>Advertising</li>
            <li>Marketing</li>
            <li>Twitter&nbsp;for&nbsp;Business</li>
            <li>Developers</li>
            <li>Directory</li>
            <li>Settings</li>
            <li>&#169;&nbsp;2022&nbsp;Rachit&nbsp;Sharma</li>
        </ul>
    </footer>
</body>

</html>