* {
  margin: 0;
  padding: 0;
}
#detail {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  padding: 20px;
}
#error {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  background-color: rgb(250, 40, 40);
  color: white;
  border: none;
}

.card {
  width: 400px;
  min-height: 300px;
}

#MovieName {
  width: 80%;
  border: none;
  outline: none;
  padding: 10px;
}
#submit {
  width: 20%;
  color: white;
  border: none;
}

#submit:hover {
  color: black;
}

.card-img-top {
  height: 300px;
}
