* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=820&q=80");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}
.portfolio {
  width: 100%;
  height: 90vh;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.information {
  color: white;
  width: 35%;
  height: 50vh;
}

.informations {
  font-size: 48px;
  letter-spacing: 2px;
}

.about {
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  background-color: lightgray;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  border: none;
}

.image {
  width: 20%;
}

.userImage {
  width: 80%;
  border-radius: 50%;
}
.icons {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icons svg {
  margin: 0px 15px;
  background: white;
  border-radius: 50%;
  color: black;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  font-size: larger;
  color: white;
  position: sticky;
}

a {
  color: white;
}

a:hover {
  color: rgb(134, 132, 132);
  cursor: pointer;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: x-large;
}

#logo {
  border-radius: 50%;
}

.back {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

#Skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Technical,
.NonTechnical {
  border: 2px solid black;
  flex: 1;
  display: flex;
  justify-content: center;
  height: 400px;
  padding: 20px;
}
