#data {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#data > div {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  margin: 20px;
}

h3 {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin-top: 20px;
}

.score {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
